* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    justify-self: flex-end;
}

nav {
    background-color: gray;
    width: 100vw;
    height: 20vw;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
}

nav img {
    object-fit: cover;
    width: 50%;
    justify-self: flex-start;
}

