* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    justify-self: flex-end;
}

header {
    height: 20vw;
}

nav {
    background-color: slategrey;
    width: 100vw;
    height: 20vw;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
}

nav img {
    object-fit: cover;
    width: 50%;
    justify-self: flex-start;
}

main img {
    width: 100vw;
}

main {
    background-color: whitesmoke;
}

.landing {
    position: relative;
}

.landing img {
    transform: scaleX(-1);  
}
.landing .overlay {
    position: absolute;
    top: 40px;
    left: 0px;
    color: white;
    padding-left: 20px;
    width: 55vw;
    line-height:30px;
    background: rgba(80, 78, 78, 0.7);
}
